/* Global Styles */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 29px;
}

h3,
p {
  font-size: 19px;
}

img {
  width: 100%;
}

/* Section Styles */

/* Grid Styles */

/* Card Styles */

/* Header Styles */

/* Button Styles */

/* Navbar Styles */
