/* Global Styles */

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 29px;
}
h3,
p {
  font-size: 19px;
}
img {
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 29px;
}

h3,
p {
  font-size: 19px;
}

img {
  width: 100%;
}

/* Section Styles */

/* Grid Styles */

/* Card Styles */

/* Header Styles */

/* Button Styles */

/* Navbar Styles */
